google-api-core==1.26.2
google-auth==1.28.0
google-cloud-bigquery==2.13.1
google-cloud-bigquery-storage==2.2.1
google-cloud-core==1.5.0
google-cloud-storage==1.35.1
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio==1.36.1
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
libcst==0.3.18
llvmlite==0.36.0
matplotlib==3.4.1
mypy-extensions==0.4.3
numba==0.53.1
numpy==1.20.2
pandas==1.2.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
pip==21.0.1
ptyprocess==0.7.0
pyarrow==3.0.0
pynndescent==0.5.2
python-dateutil==2.8.1
scikit-learn==0.24.1
scipy==1.6.2
setuptools==49.6.0
papermill==2.3.3
